.modal-body {
	max-height: 400px;
	overflow: auto;
	overflow-x: auto;
}

.ui-pnotify {
	top: auto;
}

label.error {
	color: #dd4b39;
	display: inline-block;
	text-align: left;
}

input.error {
	border: 1px solid #dd4b39;
}

.popover-content {
	text-align: center;
}
.popover-title {
    background: tomato;
    color: white;
}
